*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	scroll-behavior: smooth;
	font-size: 62.5%;
	scroll-padding-top: 56px;
}
body {
	font-size: 1.6rem;
	font-family: "Montserrat", sans-serif;
    height: 100vh;
    background: linear-gradient( #232526, #414345);
}